.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: hidden;
  // height: 100%;
}
.flexbox .col {
  flex: 1;
}

/* .main {
  height: 100%;
} */
.admin-main {
  @extend .flexbox;
  height: 100%;
  // margin-bottom: -70px;
}

.admin-content {
@extend .flexbox;
  width: 100%;
  padding-bottom: 20px;
  // min-height: 100%;
  overflow: scroll;
  // overflow: hidden;
  flex: 20;
}

.admin-menu {
  flex: 1;
  // min-height: 100%;
  // width: 100px;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: auto;
  -webkit-transition: all .5s;
  box-shadow: rgba(0,0,0,.4) 0px 3px 10px;
}