.login-container {
  margin: 90px auto 0;
  width: 450px;
}
.login-bar-title {
  font-size: 20px;
  line-height: 45px;
}
.login-submit-label {
  font-size: 16;
  letter-spacing: 1.2px;
  color: #fff;
  text-transform: uppercase;
}