.container {
  padding: 1em;
}
.hdr-cell {
  width: 33.3%;
}
.link {
  border-bottom: dashed 1px #666;
  text-decoration: none;
  color: #000;
}
.report-tbl {
  margin-top: 1.5em;
  width: 100%;
}
.summary-tbl {
  width: 800px;
  margin-top: 1em
}
.dialog-content {
  width: 900px;
  max-width: 900px;
  top: -300px;
  // bottom: 300
}
.dialog-body {
  color: #000;
}
.dwnld {
  text-align: center;
  margin-top: 25;
  width: 800;
}
.dwnld.but {
  margin-top: 15;
  margin-left: 15;
  margin-bottom: 10;
}